{% extends "base.html" %}

{% block content %}
<h1><img src="{{url_for('static', filename='image/emblem.png')}}" id="emblem">Аварийный доступ</h1>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.staff_id.label }}<br>
        {{ form.staff_id(class="form-control") }}<br>
        {% for error in form.staff_id.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.staff_password.label }}<br>
        {{ form.staff_password(class="form-control", type="password") }}<br>
        {% for error in form.staff_password.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.capitan_id.label }}<br>
        {{ form.capitan_id(class="form-control") }}<br>
        {% for error in form.capitan_id.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.capitan_password.label }}<br>
        {{ form.capitan_password(class="form-control", type="password") }}<br>
        {% for error in form.capitan_password.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
</form>
{% endblock %}