{% extends "base.html" %}

{% block content %}
{% if mode == "ol" %}
<ol>
    <h2>Список профессий</h2>
    {% for profession in professions %}
    <li>{{profession}}</li>
    {% endfor %}
</ol>
{% elif mode == "ul" %}
<ul>
    <h2>Список профессий</h2>
    {% for profession in professions %}
    <li>{{profession}}</li>
    {% endfor %}
</ul>
{% else %}
<div class="alert alert-primary" role="alert" style="background-color:#ff14145a">
    <h2>ERROR</h2>
    <h4>Задан неверный параметр</h4>
</div>
{% endif %}
{% endblock %}


<!--Список профессий-->
<!--инженер-исследователь-->
<!--пилот-->
<!--строитель-->
<!--экзобиолог-->
<!--врач-->
<!--инженер по терраформированию-->
<!--климатолог-->
<!--специалист по радиационной защите-->
<!--астрогеолог-->
<!--гляциолог-->
<!--инженер жизнеобеспечения-->
<!--метеоролог-->
<!--оператор марсохода-->
<!--киберинженер-->
<!--штурман-->
<!--пилот дронов-->
